/* style.css */

body {font: Helvetica, Arial;}

.view{
    overflow: hidden;
}
.scrollBlind{
}

.name{ width: 10%; }
.message{ width: 70%; }
.chat{ width: 10%; }

#chatLog{
  padding: 5px 10px;
  width:95%; height: 200px;
}
#chatLog li:nth-child(odd) {
  background: #eee;
}
