/* Start Some Resets Classes */
@font-face {
  font-family: 'seoulNamsan';

  src:url(../../public/fonts/SeoulNamsanL.ttf)format('truetype');
  

  font-weight: normal;
  font-style: normal;
}
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -os-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
body {
   background-color: #404040;
   font-family: 'seoulNamsan'
   }
input,textarea,select {
  transition: 0.5s;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: none;
  
  width: 50%;
}
input:focus,textarea:focus,
select:focus { border-color: rgba(89, 22, 22, 0.8); box-shadow: 0 1px 1px rgba(89, 22, 22, 0.075) inset, 0 0 8px rgba(89, 22, 22, .6); }
a { text-decoration: none; color: #591616 }
a.dec:hover { text-decoration: underline; }
a:hover { color: #591616; }
.btn {
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
  background-color: #323232;;
  
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  margin-top: 50px;
  
  font-size: 200%;
  font-family: 'seoulNamsan';
}
.btn-dark               { background-color: #2c3e50; }
.btn-dark:hover         { background-color: #34495e; }

.btn-upper              { text-transform: uppercase; font-weight: 600; }

.btn-danger             { background-color: #e74c3c; }
.btn-danger:hover       { background-color: #c0392b; }

/*Placeholder*/
::-webkit-input-placeholder {
  color: #FFF;
  opacity: 0.6;
}
::-ms-input-placeholder {
  color: #FFF;
  opacity: 0.6;
}
::-o-input-placeholder {
  color: #FFF;
  opacity: 0.6;
}
::-moz-input-placeholder {
  color: #FFF;
  opacity: 0.6;
}
::input-placeholder {
  color: #591616;
  opacity: 0.6;
}
/* End Some Resets Classes */

/* Start Style of form */
.form-register {
  width: 75%;
  padding: 15px;
  margin: 15px auto;
  text-align: center;
}

body{
  padding-top: 4%;
}

form {
    position: relative;
}

  .title{
      color: #FFF;;
      padding-top: 0;
      
      font-size: 400%;
      font-weight: lighter;
      margin-bottom: 100px;
      opacity: 0.5;
    }

    input,
    button{
      width: 70%;
      height: 70px;
    }
    input {
      background-color: #591616;
      border: 1px solid #591616;
      color: #FFF;
      font-size: 200%;
      font-family: 'seoulNamsan';
    }
    input ~ span {
      background-color: #e74c3c;
      display: none;
      padding: 10px;
      position: absolute;
      width: 400px;
      color: #FFF;
      margin-top: 8px;
      border-radius: 4px;
     
    }
    
  

/* End Style of form */
