/* style.css */
@font-face{ 
  font-family:'mobsters';
  src:url('../../public/fonts/mobsters.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family : "mobsters","Helvetica", "Arial";
}

.view{
    overflow: hidden;
}
.scrollBlind{
    overflow-y: scroll;
}

.name{ 
  width: 10%;
}
.message{ 
  width: 70%; 
}

.chat{ 
  width: 10%; 
}

#chatLog{
  padding: 5px 10px;
  width:95%; height: 200px;
}

#chatLog li:nth-child(odd) {
  background: #eee;
}
