/* style.css */
/*글씨체 불러오기*/
@font-face{ 
  font-family:'mobsters';
  src:url('../../public/fonts/mobsters.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}
/* 공통부분 */
html {
  font-family : "mobsters","Helvetica", "Arial";
  letter-spacing: 5px;
  font-size: 200%;
}

/* index.html */
.background_jpg{
  background-image: url(../../public/images/mafia\ background.jpg);
  background-size: 100%;
}

.login_bar{
  font-size: 125%;
  display: block;
  text-align: center;
  margin-left: 0px auto;
  padding-top: 200px;
  
}


.view{
    overflow: hidden;
}
.scrollBlind{
    overflow-y: scroll;
}

.name{ 
  width: 10%;
}
.message{ 
  width: 70%; 
}

.chat{ 
  width: 10%; 
}

#chatLog{
  padding: 5px 10px;
  width:95%; height: 200px;
}

#chatLog li:nth-child(odd) {
  background: #eee;
}
