/* style.css */
/*글씨체 불러오기*/
@font-face{ 
  font-family:'seoulNamsan';
  src:url('../../public/fonts/SeoulNamsanL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}
/* 공통부분 */
html {
  font-family : "seoulNamsan","Helvetica", "Arial";
  letter-spacing: 0px;
  font-size: 200%;
}

/* index.html */
.background_jpg{
  background-color: #e5e5e5;
  background-size : 100%;
}



.login_bar /*type="submit"]*/{
  font-size: 125%;
  display: flex;
  justify-content: center;
  
  
  
}
.input_box{
  height: 30px;
  width: 200px;
  font-size: 60%;

}
.input_button{
  background-color: #323232;
  color:#fff;
  height: 30px;
  width: 70px;
}

.center_word{
  text-align: center;
  padding-top: 200px;
}

/*index 끝*/

.view{
    overflow: hidden;
}
.scrollBlind{
    overflow-y: scroll;
}

.name{ 
  width: 10%;
}
.message{ 
  width: 70%; 
}

.chat{ 
  width: 10%; 
}

#chatLog{
  padding: 5px 10px;
  width:95%; height: 200px;
}

#chatLog li:nth-child(odd) {
  background: #eee;
}
